.form-container{
    display: flex;
    width: 700px;
    position: absolute;
    top: 17px;
    margin: 0px;
    left: 43px;
}

.author-title-container{
    width: auto;
    display: flex;
    justify-content: space-between;
}

.form-container p{
    font-size: 23px;
    color: #1a1d1a;
    margin: 0px;
    margin-top: 12px;
    margin-right: 16px;
}

.submit-form{
    background: transparent;
    border: 1.5px solid #1a1d1a;
    border-radius: 10px;
    color: #1a1d1a;
    width: 103px;
    height: 33px;
    margin-top: 22px;
}

.search-input-bar{
    height: 29px;
    border-radius: 13px;
    padding-left: 8px;
    width: 335px;
}


.search-icon{
    width: 38px;
    height: 30px;
    margin-top: 3px;
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(108deg) brightness(105%) contrast(100%);
    cursor: pointer;
}


@media screen and (max-width: 550px){
    .form-container{
        display: flex;
        width: 300px;
        position: absolute;
        top: 0px;
        margin: 0px;
    }


    .header-wrapper img{
        height: 76%;
    }

    .search-input-bar{
        height: 29px;
        border-radius: 13px;
        padding-left: 8px;
        width: 196px;
    }


    .author-title-container{
        width: 196px;
        margin: auto;
        margin-left: 25px;
        margin-top: 20px;
        margin-right: 0px;
    }

    .form-container{
        width: 300px;
        flex-direction: column;
    }

    .submit-form{
        width: 50px;
        color: #000;
        background: #fff;
    }

    .title-container{
        text-align: center;
    }

    .form-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 263px;
        position: absolute;
        top: 0px;
        margin: 0px;
        left: 0px;
    }

    .search-icon{
        width: 31px;
        height: 25px;
        margin-top: 25px;
    }

}