.header-wrapper{
    width: auto;
    height: 500px;  
}

.header-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: top;
}

.header-wrapper p{
    position: relative;
    top: -301px;
    margin: 0px;
    width: 400px;
    height: auto;
    left: 737px;
    font-size: 50px;
    color: #000;
    font-weight: 700;
}

@media screen and (max-width: 550px){
    .header-wrapper p{
        left: 95px;
        width: 200px;

    }

}