@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;500&display=swap');

:root{
    --font-red-hat: 'Red Hat Mono', monospace;
}

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box; 
}


body{
    background-color: rgb(226, 223, 223);
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.book-container-One{
    margin: 3rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 43px;
    min-height: 121px;
}

.book-item-container{
    width: 200px;
    text-align: center;
}

.book-item-container{
    width: 569px;
    height: 322px;
    margin-bottom: 50px;
    position: relative;
    background: #fff;
}

.image-container{
    position: relative;
    z-index: 1;
    left: -197px;
    box-shadow: 10px 5px 5px rgb(77, 77, 77);
}

.book-info-wrapper{
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -141px;
    height: 264px;
}

.title, .author{
    width: 151px;
    margin: 0px;
    position: absolute;
    top: 0px; 
    font-family: var(--font-red-hat);
    font-weight: 500;
}

.title{
    font-size: 14px;
    width: 295px;
    right: 54px;
    line-height: 12px;
}

.author{
    font-size: 13px;
    width: 295px;
    opacity: 0.45;
    top:47px;
    right: 57px;
}   

.text-snippet{
    width: 376px;
    margin: 0px;
    position: absolute;
    right: 22px;
    top: 92px;
    font-family: var(--font-red-hat);
    font-weight: 300;
    font-size: 13px;
}


.no-image{
    position: relative;
    z-index: 1;
    box-shadow: 10px 5px 5px rgb(77, 77, 77);
    left: -169px;
}

.plus-card-icon{
    position: absolute;
    top: 12px;
    right: 9px;
    width: 39px;
    height: 24px;
}


@media screen and (max-width: 550px){
    .book-item-container{
        width: 365px;
    }

    .image-container{
        left: -108px;
        width: 128px;
        height: 206px;
    }

    .title{
        font-size: 10px;
        right: 42px;
        width: 163px;
    }

    .author{
        font-size: 10px;
        right: -3px;
        width: 206px;
    }


    .text-snippet{
        width: 169px;
        font-size: 11px;
        top: 92px;
    }

    .no-image{
        width: 128px;
        left: -108px;
        top: 0px;
    }


    /****************** Shelf Responsive **********************/

    .shelfed-books-container{
        width: 365px;
        border: 1px red solid;
        position: relative;
        text-align: center;
        height: auto;
    }
}