@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;500&display=swap');

:root{
    --font-red-hat: 'Red Hat Mono', monospace;
}


body{
    background-color: rgb(226, 223, 223);
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.book-container-One{
    margin: 3rem 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 43px;
}

.book-item-container{
    width: 200px;
    text-align: center;
}

.book-item-container{
    width: 569px;
    height: 322px;
    margin-bottom: 50px;
}

.image-container{
    position: relative;
    z-index: 1;
    left: -197px;
    box-shadow: 10px 5px 5px rgb(77, 77, 77);
}

.book-title-author-desc{
    position: relative;
    background-color: rgb(255, 255, 255);
    top: -141px;
    height: 264px;
}

.title, .author{
    width: 151px;
    margin: 0px;
    position: relative;
    right: -188px; 
    font-family: var(--font-red-hat);
    font-weight: 500;
}

.title{
    font-size: 14px;
    width: 295px;
}

.author{
    font-size: 13px;
    width: 295px;
    opacity: 0.45;
}   

.text-snippet{
    width: 376px;
    margin: 0px;
    position: relative;
    right: -164px;
    top: 35px;
    font-family: var(--font-red-hat);
    font-weight: 300;
    font-size: 13px;
}

.book-info-wrapper{
    height: 100%;
}

.no-image{
    position: relative;
    z-index: 1;
    box-shadow: 10px 5px 5px rgb(77, 77, 77);
    left: -169px;
}

@media screen and (max-width: 550px){
    .book-item-container{
        width: 365px;
    }

    .image-container{
        left: -101px;
    }

    .title{
        font-size: 10px;
        right: -135px;
        width: 211px;
    }

    .author{
        font-size: 10px;
        right: -90px;
    }


    .text-snippet{
        width: 169px;
        font-size: 11px;
    }

    .no-image{
        width: 171px;
        left: -87px;
        top: -23px;
    }
}