.book-wrapper{
    width: 172px;
    height: 244px;
}

.book-title{
    text-align: center;
    margin: 27px 0 0 0;
    font-size: 24px;
}

.book-author{
    margin: 0px;
    position: relative;
    bottom: -156px;
    text-align: center;
    font-size: 18px;
}    